<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'service center/servicecenterindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/myapp/edit_profile_post/">
    {% csrf_token %}
  <table width="224" border="1" align="center" class="table table-bordered">
      <tr>
      <th colspan="2" scope="row">Profile</th>
    </tr>
    <tr>
      <th width="180" scope="row">Name</th>
      <td width="28"><input type="text" value="{{ data.name }}" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><input type="text" name="textfield2" id="textfield2" value="{{ data.email }}" class="form-control"required/></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><input type="text" name="textfield3"value="{{ data.phone }}" id="textfield3" class="form-control"required /></td>
    </tr>
    <tr>
      <th scope="row">pin</th>
      <td><input type="text" name="textfield4"value="{{ data.pin }}" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><input type="text" name="textfield5"value="{{ data.place }}" id="textfield5" class="form-control" required/></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><input type="text" name="textfield6" id="textfield6"value="{{ data.post }}" class="form-control"required /></td>
    </tr>
    <tr>
      <th scope="row">Photo</th>
      <td><img src="{{ data.photo }}"style="height: 100px;width: inherit">
          <input type="file" name="textfield7" id="textfield7" /></td>
    </tr>
    <tr>
      <th scope="row">District</th>
      <td><input type="text" name="textfield8" id="textfield8"value="{{ data.district }}" class="form-control"required/></td>
    </tr>
    <tr>
      <th scope="row">Owner Name</th>
      <td><input type="text" name="textfield9" id="textfield9"value="{{ data.ownername }}"class="form-control"required /></td>
    </tr>
    <tr>
      <th scope="row">Owner Email</th>
      <td><input type="text" name="textfield10" id="textfield10"value="{{ data.owneremail }}" class="form-control" required/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Update" class="btn btn-success" /></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
