<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SERVICE CENTER HOME</h1><br>
<a href="/myapp/view_profile_get/">Profile</a><br>
<a href="/myapp/service_center_view_category_get/">Category</a><br>
<a href="/myapp/add_service_get/">Add service</a><br>
<a href="/myapp/view_service_get/">Service</a><br>
<a href="/myapp/view_booking_get/">Bookings</a><br>
<a href="/myapp/view_apporoved_book_get/">approved Bookings</a><br>
<a href="/myapp/view_rejected_booking_get/">Rejected Bookings</a><br>
<a href="/myapp/update_work_status_get/">Update work Status</a><br>
<a href="/myapp/payment_get/">Payments</a><br>
<a href="/myapp/change_sc_password_get/">Change password</a><br>

</body>
</html>