<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'service center/servicecenterindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/view_apporoved_book_post/">
    {% csrf_token %}
  <table width="200" border="1" class="pull-left">
    <tr>
      <th scope="col">From</th>
      <th scope="col"><input type="date" name="button" id="button" class="form-control"required /></th>
      <th scope="col">To</th>
      <th scope="col"><input type="date" name="button2" id="button2" class="form-control"required /></th>
      <th scope="col"><input type="submit" name="button3" id="button3" value="Search" class="btn btn-success" /></th>
    </tr>
  </table>
  <table width="646" border="1" class="table table-bordered">
    <tr>
      <th width="41" scope="col">slno</th>
      <th width="48" scope="col">Date</th>
      <th width="103" scope="col">Username</th>
      <th width="82" scope="col">Address</th>
      <th width="82" scope="col">contact</th>
      <th width="250" scope="col">service details</th>
        <th width="250" scope="col">update work status</th>


    </tr>{% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.USER.name }}</td>
      <td>{{ i.USER.place }},{{ i.USER.district }}<br>{{ i.USER.state }}</td>
      <td>{{ i.USER.Phone }}&nbsp;</td>
      <td>{{ i.SERVICE.service_name }}<br>{{ i.SERVICE.descripton }}<br>Charge:{{ i.SERVICE.service_charge }}</td>
        <td align="center"><a href="/myapp/update_work_status_get/{{ i.id }}">update</a></td>


    </tr>{% endfor %}
  </table>

</form>
</body>
{% endblock %}
</html>
