<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1 align="center">admin home</h1><br>

<a href="/myapp/add_category_get/">add category</a><br>
<a href="/myapp/view_category_get/">view category</a><br>
<a href="/myapp/view_service_center_get/">view service Center</a><br>
<a href="/myapp/view_approved_service_center_get">Approved service Center</a><br>
<a href="/myapp/view_rejected_service_center_get">Rejected Service Center</a><br>
<a href="/myapp/view_users_get/">view user</a><br>
<a href="/myapp/view_complaints_get/">View Complaints</a><br>
<a href="/myapp/view_service_review_get/">View Service review</a><br>
<a href="/myapp/view_app_review_get/">View App review</a><br>
<a href="/myapp/change_password_get/">change_password_get</a><br>

</body>
</html>