<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'admin/index.html' %}
{% block body %}

<body style="font-family: Arial, sans-serif; background-color: #f8f8f8;">
<form id="form1" name="form1" method="post" action="/myapp/change_password_post/" style="border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
    {% csrf_token %}
    <table class="table table-bordered" style="width: 100%; border-collapse: collapse; background-color: #ffffff; border: 1px solid #ccc;">
        <tr style="background-color: #dddddd;">
            <th scope="row" style="padding: 8px;">CURRENT PASSWORD</th>
            <td style="padding: 8px;"><input type="password" name="textfield" class="form-control" style="width: 100%; "required/></td>
        </tr>
        <tr>
            <th scope="row" style="padding: 8px;">NEW PASSWORD</th>
            <td style="padding: 8px;"><input type="password" name="textfield2" class="form-control" style="width: 100%;"required/></td>
        </tr>
        <tr>
            <th scope="row" style="padding: 8px;">CONFIRM PASSWORD</th>
            <td style="padding: 8px;"><input type="password" name="textfield3" class="form-control" style="width: 100%;"required/></td>
        </tr>
        <tr>
            <th colspan="2" scope="row" style="padding: 8px; text-align: center;"><input type="submit" name="button" class="btn btn-success" style="background-color: #00bdfe; color: white;" value="SUBMIT"/></th>
        </tr>
    </table>
</form>
</body>
{% endblock %}
</html>
