<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>{% extends 'admin/index.html' %}
{% block body %}
<body style="font-family: Arial, sans-serif; background-color: #f8f8f8;">
<form action="/myapp/view_service_center_post/" method="post" style="border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
    {% csrf_token %}
    <table class="pull-left" style="border-collapse: collapse; margin-bottom: 20px; border: 1px solid #ccc;">
        <tr>
            <th scope="col" style="padding: 8px;"><input type="text" name="textfield" id="textfield" class="form-control" style="width: 100%;"required/></th>
            <th scope="col" style="padding: 8px;"><input type="submit" name="button" id="button" value="search" class="btn btn-success" style="width: 100%; "/></th>
        </tr>
    </table>

    <p>&nbsp;</p>

    <table class="table table-bordered" style="width: 100%; border-collapse: collapse;">
        <tr style="background-color: #dddddd;">
            <th scope="col" style="padding: 8px;">SLNO</th>
            <th scope="col" style="padding: 8px;">NAME</th>
            <th scope="col" style="padding: 8px;">OWNER NAME</th>
            <th scope="col" style="padding: 8px;">OWNER EMAIL</th>
            <th scope="col" style="padding: 8px;">ADDRESS</th>
            <th scope="col" style="padding: 8px;">CONTACT</th>
            <th scope="col" style="padding: 8px;">PHOTO</th>
            <th scope="col" style="padding: 8px;">ACTION</th>
        </tr>
        {% for i in data %}
        <tr>
            <td style="padding: 8px; text-align: center;">&nbsp;{{ forloop.counter }}</td>
            <td style="padding: 8px;">&nbsp;{{ i.name }}</td>
            <td style="padding: 8px;">&nbsp;{{ i.ownername }}</td>
            <td style="padding: 8px;">{{ i.owneremail }}</td>
            <td style="padding: 8px;">&nbsp;{{ i.place }}<br>{{ i.post }}<br>{{ i.pin }},{{ i.district }}</td>
            <td style="padding: 8px;">{{ i.phone }}</td>
            <td style="padding: 8px;"><img src="{{ i.photo }}" width="100" height="100" alt="Photo" alt=""/></td>
            <td style="padding: 8px;"><p><a href="/myapp/approve_service_center/{{ i.LOGIN.id }}">APPROVE</a></p>
                <p><a href="/myapp/reject_service_center/{{ i.LOGIN.id }}">REJECT</a></p></td>
        </tr>
        {% endfor %}
    </table>
</form>
</body>
{% endblock %}
</html>
