<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{% extends 'admin/index.html' %}
{% block body %}
<body style="font-family: Arial, sans-serif; background-color: #f8f8f8;">
<form action="/myapp/view_category_post/" method="post" style="border: 1px solid #ccc; padding: 20px; border-radius: 5px;">
    {% csrf_token %}

    <table width="50%" border="1" style="border-collapse: collapse; margin-bottom: 20px; border: 1px solid #ccc;">
        <tr style="background-color: #f2f2f2;">
            <th scope="col" style="padding: 8px; width: 70%;"><input type="text" name="textfield" id="textfield" class="form-control" style="width: 100%;"required/></th>
            <th scope="col" style="padding: 8px; width: 30%;"><input type="submit" name="button" id="button" value="search" class="form-control" style="background-color: #00bdfe; color: white; width: 100%;"/></th>
        </tr>
    </table>
    <table width="100%" border="1" style="border-collapse: collapse; background-color: #ffffff; border: 1px solid #ccc;"class="table table-bordered">
        <tr style="background-color: #dddddd;">
            <th scope="col" style="padding: 8px;">SLNO</th>
            <th scope="col" style="padding: 8px;">CATEGORY NAME</th>
            <th colspan="2" scope="col" style="padding: 8px;">ACTION</th>
        </tr>
        {% for k in data %}
        <tr>
            <td style="padding: 8px; text-align: center;">{{ forloop.counter }}</td>
            <td style="padding: 8px;">{{ k.category }}</td>
            <td style="padding: 8px; text-align: center;"><a href="/myapp/edit_category_get/{{ k.id }}">EDIT</a></td>
            <td style="padding: 8px; text-align: center;"><a href="/myapp/delete_category/{{ k.id }}" onclick="return confirm('are you sure')">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>
</form>
</body>
{% endblock %}
</html>
